body {
    background-color: #cdd7d6;
    font-family: 'Nixie One', cursive;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
}

.gifDeck {
    border: 3px solid #DBDBDB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px #888888;
}

.gifSearch {
    border: 3px solid #DBDBDB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px #888888;
}

#submit {
    width: 100%;
}

.jumbotron {
    background-color: transparent;
}

h3 {
    margin-top: 15px;
}

h5 {
    font-family: 'Bungee Inline', cursive;
}

h6 {
    font-family: 'Nixie One', cursive;
    text-align: center;
}

.card-title {
    text-align: center;
}

.gifCards {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.gifDeck {
    display: flex;
    flex-wrap: wrap;
}